<nav>
    {% for entry in ["fonts", "blog", "artwork", "about"] %}
        {% set url = "/" if entry == "fonts" else "/" + entry + "/" %}
        {% set class = " fonts" if entry == "fonts" else "" %}
        {% set here = page.dir == url if url == "/" else (page.dir or "").startswith(url) %}
        {% set class = class + " current" if here else class %}
        <span class="{{ class }}">
            <a class="{{ class }}" href="{{ url }}{{ messages.suffix }}">{{ messages[entry] }}</a>
            {% if entry == "fonts" and page.project %}
                    <span> <span class="arrow">></span>
                    {% if page.template == "app" %}
                        <a href="/{{ page.project }}/{{ messages.suffix }}">{{ messages.get(page.project, {}).name }}</a> <span class="arrow">></span> {{ messages.try }}
                    {% else %}
                        {{ messages.get(page.project, {}).name }}
                    {% endif %}
                    </span>
            {% endif %}
        </span>
    {% endfor %}
</nav>
