<div class="contact">
    <h2>{{ messages.contact }}</h2>
    <p>{{ messages.contact-detail }} <a href="mailto:info@aliftype.com"><code>info@aliftype.com</code></a></p>
    <p>
        <a href="https://github.com/aliftype">{{ messages.github }}</a><br />
        <a href="https://www.facebook.com/AlifTypeFoundry">{{ messages.facebook }}</a><br />
        <!--a href="https://www.instagram.com/khaledhosny.type">{{ messages.instagram }}</a></br-->
        <a href="https://fonts.google.com/?subset=arabic&query=Khaled+Hosny">{{ messages.google-fonts }}</a><br />
    </p>
    <p id="sitedesigner"><a href="https://abdomohamed.com">{{ messages.sitedesigner }}</a></p>
</div>
