{% include analytics.html %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{ include.favicon }}">

<title>{{ page.title | default: include.title }} | {{ page.subtitle | default: include.subtitle }}</title>
<meta     name="author" content="Khaled Hosny" />
<meta     name="fediverse:creator" content="@khaled@typo.social" />
<meta property="og:locale" content="{{ page.language }}">
{% if include.description %}
<meta        name="description" content="{{ include.description | strip_html | strip }}">
<meta property="og:description" content="{{ include.description | strip_html | strip }}">
<link      rel="canonical" href="{{ page.url | absolute_url }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:site_name" content="{{ include.site_name }}">
<meta property="og:image" content="{{ include.og_image }}">
{% endif %}
{% if include.manifest %}
<link rel="apple-touch-icon" href="/assets/images/logo.png">
<link rel="manifest" href="{{ include.manifest }}">
{% endif %}
<link rel="stylesheet" href="{{ '/assets/css/' | append: include.css | append: '.css?v=' | append: site.github.build_revision }}">
