nav {
  display: flex;
  justify-content: end;
  grid-area: nav;
  gap: 50px;
}

nav a {
  color: grey;
  text-decoration: none;
}

nav .fonts {
  margin-inline-end: auto;
}

nav .current {
  color: light-dark(black, white);
}
