nav {
  display: flex;
  justify-content: start;
  grid-area: nav;
  gap: 50px;
}

nav a {
  color: grey;
  text-decoration: none;
}

nav .about {
  margin-inline-start: auto;
}

nav .current {
  color: light-dark(black, white);
}
