nav {
  display: flex;
  justify-content: end;
  grid-area: nav;
  gap: 50px;
}

nav a {
  color: grey;
  text-decoration: none;
}

nav .fonts {
  margin-inline-end: auto;
}

nav .current {
  color: light-dark(black, white);
}

.theme {
  grid-area: theme;
  margin: 0;
}

.theme-switcher {
  font-size: 130%;
  line-height: 1;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
