:root {
  --body-background-color: light-dark(#FFFAED, black);
  --body-color: light-dark(black, lightgray);
  --kufi-family: "Raqq", serif;
  --kufi-color: light-dark(black, #DFDFDF);
  --download-background-color: light-dark(black, #F4F4F4);
  --download-color: light-dark(#FFFAED, #676767);
  --button-background-color: light-dark(lightgray, #F4F4F4);
  --button-color: black;
  --main-family: "Amiri", serif;
  --main-font-size: 14pt;
  --ui-family: Mada, sans-serif;
  --heading-family: "Reem Kufi", sans-serif;
  --h1-font-size: 40px;
  --latin-font: "DM Sans", "Amiri", sans-serif;
  --top-margin: 10px;
  --bottom-margin: 50px;
  --row-height: 400px;
  --main-gap: 15px;
}
