---
---

@use "font";

:root {
  --title-family: "Qashib", serif;
  --title-font-size: 55pt;
}

#title {
  font-variation-settings: "MSHQ" 20;
}

@media (max-width: 1280px) {
  #title {
    font-size: 5.9vw;
  }
}

@media (max-width: 1100px) {
  #title {
    font-size: 8vw;
  }
}

@media (max-width: 730px) {
  #title {
    font-size: 10vi;
  }
}
