---
---

@use "font";

:root {
  --title-family: "Rana Kufi", serif;
  --title-font-size: 79pt;
}

@media (max-width: 1230px) {
  #title {
    font-size: 8vw;
    font-variation-settings: "SPAC" -100;
  }
}

@media (max-width: 1100px) {
  #title {
    font-size: 10vw;
  }
}
