---
---

@import "fonts";

:root {
  color-scheme: light dark;
  --body-background-color: light-dark(#FFFAED, black);
  --body-color: light-dark(black, lightgray);
  --kufi-family: "Raqq", serif;
  --kufi-color: light-dark(black, #DFDFDF);
  --main-family: "Amiri", serif;
  --heading-family: "Reem Kufi", sans-serif;
  --h1-font-size: 40px;
  --latin-font: "DM Sans", "Amiri", sans-serif;
  --top-bottom-margin: 50px;
  --row-height: 400px;
  --main-gap: 15px;
}

:lang(en-US) {
  --main-family: var(--latin-font);
  --heading-family: var(--latin-font);
  --h1-font-size: 1.5em;
}

@media (prefers-color-scheme: dark) {
  body * {
    font-palette: dark;
  }
}

body {
  font-family: var(--main-family);
  font-size: 14pt;
  font-weight: 400;
  font-variant-numeric: proportional-nums;
  background-color: var(--body-background-color);
  color: var(--body-color);
  max-width: 1240px;
  padding: 0 15px;
  margin: var(--top-bottom-margin) auto;
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: var(--row-height) auto auto;
  justify-content: space-between;
  grid-template-areas:
    "header section"
    "footer section"
    ".      section";
  gap: var(--main-gap);
}

.lang-switcher-top { grid-area: lang-switcher; }
header  { grid-area: header; }
footer  { grid-area: footer; }
section { grid-area: section; }

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-family);
  margin-block-start: 20px;
  margin-block-end: 5px;
  color: var(--kufi-color);
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-size: var(--h1-font-size);
}

p {
  text-align: justify;
  line-height: normal;
  hyphens: auto;
  -webkit-hyphens: auto;
}

a {
  color: #267CB9;
  text-decoration: none;
}

code {
  font-family: "Inconsolata", monospace;
}

img {
  max-width: 100%;
}

#sitedesigner {
  font-size: 60%;
  color: grey;
}

header p,
footer p
{
  text-align: start;
  margin-block-end: 20%;
  hyphens: none;
  text-wrap: balance;
}

header {
  align-self: start;
  position: sticky;
  top: var(--top-bottom-margin);
}

footer {
  align-self: top;
  position: sticky;
  top: calc(var(--top-bottom-margin) + var(--row-height) + var(--main-gap));
}

#logo {
  font-family: var(--kufi-family);
  color: var(--kufi-color);
  font-size: 55pt;
  margin-block-end: 5%;
  margin-block-start: 0;
}

.lang-switcher-side {
  font-size: 120%;
}

.lang-switcher-top {
  grid-area: lang-switcher;
  text-align: center;
  display: none;
}

.lang-switcher-side,
.lang-switcher-top {
  font-family: var(--latin-font);
}

.sample {
  margin-block-end: 0;
}

.links {
  padding: 0;
  margin-block-start: 0;
  border-block-start: 1px solid #e5e5e5;
  border-width: 1px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.more {
  flex-grow: 1;
}

@media print, screen and (max-width: 700px) {
  body {
    grid-template-columns: auto;
    max-width: 700px;
    padding: 0 20px;
    grid-template-rows: revert;
    grid-template-areas:
      "lang-switcher"
      "header"
      "section"
      "footer"
    ;
  }

  .lang-switcher-top {
    display: revert;
  }

  .lang-switcher-side {
    display: none;
  }

  header, header p,
  footer, footer p
  {
    text-align: center;
  }

  header p,
  footer p
  {
    margin-block-end: 10%;
    margin-block-end: 10%;
  }

  header,
  footer
  {
    align-self: revert;
    position: revert;
    top: revert;
    padding: revert;
    margin: revert;
    padding-block-start: 20px;
  }
}

@media print, screen and (max-width: 700px) {
  section > p:lang(en-US) {
    text-align: start;
    hyphens: revert;
    -webkit-hyphens: revert;
  }
}
