<!DOCTYPE html>
{% assign messages = site.data.messages[page.language] %}
<html lang="{{ page.language }}" dir="{{ page.direction | default: rtl }}">
  <head>
    {% include head.html
      css="default"
      favicon="/assets/images/favicon.svg"
      title=site.title
      subtitle=site.description
      description=messages.description
      site_name=site.title
      og_image="/assets/images/card.png" %}
  </head>
  <body>
    {% include nav.html %}
    <header>
      <p id="logo"><a href="/{{ messages.suffix }}">أ</a></p>
      <h1 id="foundry"><a href="/{{ messages.suffix }}">{{ messages.foundry }}</a></h1>
      <p class="lang-switcher-side">
      {% include language-switcher.html %}
      </p>
      <p class="description">{{ messages.description }}</p>
      {% include contact.html %}
    </header>

    <p class="lang-switcher-top">
    {% include language-switcher.html %}
    </p>
    <main>
      {{ content }}
    </main>
    <footer>
      {% include contact.html %}
    </footer>
  </body>
</html>
