<!DOCTYPE html>
{% assign messages = site.data.messages[page.language] %}
<html lang="{{ page.language }}" dir="{{ page.direction | default: rtl }}">
  <head>
    {% include analytics.html %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/images/favicon.svg">

    <title>{{ page.title | default: site.title }} | {{ page.subtitle | default: site.description }}</title>
    <meta     name="author" content="Khaled Hosny" />
    <meta     name="fediverse:creator" content="@khaled@typo.social" />
    <meta property="og:locale" content="{{ page.language }}">
    <meta        name="description" content="{{ messages.description | strip_html | strip }}">
    <meta property="og:description" content="{{ messages.description | strip_html | strip }}">
    <link      rel="canonical" href="{{ site.url }}{{ page.url }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:image" content="{{ "/assets/images/card.png" | relative_url }}">

    <link rel="stylesheet" href="{{ "/assets/css/default.css?v=" | append: site.github.build_revision }}">
  </head>
  <body>
    {% include nav.html %}
    <header>
      <p id="logo"><a href="/{{ messages.suffix }}">أ</a></p>
      <h1 id="foundry"><a href="/{{ messages.suffix }}">{{ messages.foundry }}</a></h1>
      <p class="lang-switcher-side">
      {% include language-switcher.html %}
      </p>
      <p class="description">{{ messages.description }}</p>
      {% include contact.html %}
    </header>

    <p class="lang-switcher-top">
    {% include language-switcher.html %}
    </p>
    <section>
      {{ content }}
    </section>
    <footer>
      {% include contact.html %}
    </footer>
  </body>
</html>
