{% assign project = page.dir | remove_first: "/" | remove_last: "/" | split: "/" | first %}
{% assign messages = site.data.messages[page.language] %}
{% assign config = site.data.config[project] %}
<!DOCTYPE html>
<html lang="{{ page.language }}" dir="{{ page.direction | default: rtl }}">
  <head>
    {% include analytics.html %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/images/{{ project }}/favicon.svg">

    <title>{{ page.title | default: config.title }} | {{ page.subtitle | default: config.subtitle }}</title>
    <meta property="og:locale" content="{{ page.language }}">
    <meta        name="description" content="{{ messages[project].description | strip_html }}">
    <meta property="og:description" content="{{ messages[project].description | strip_html }}">
    <link      rel="canonical" href="{{ site.url }}/{{ page.url }}">
    <meta property="og:url" content="{{ site.url }}/{{ page.url }}">
    <meta property="og:site_name" content="{{ config.title }}">
    <meta property="og:image" content="/assets/images/{{ project }}/card.png">

    <link rel="stylesheet" href="{{ "/assets/css/" | append: project | append: ".css?v=" | append: site.github.build_revision }}">
  </head>
  <body>
    {% include nav.html %}
    <header>
      <p id="logo">أ</p>
      <h1 id="foundry">{{ messages.foundry }}</h1>
      <p class="lang-switcher-side">
      {% include language-switcher.html %}
      </p>
      <p>{{ messages.description }}</p>
      {% include contact.html %}
    </header>

    <p class="lang-switcher-top">
    {% include language-switcher.html %}
    </p>
    <h1 dir="rtl" id="title">{{ config.title }}{{ config.title-separator }}{{ config.subtitle }}</h1>
    <section>
      {% if page.subtitle %}
      <h1>{{ page.title | default: config.title }} — {{ page.subtitle }}</h1>
      {% endif %}
      {{ content }}
    </section>

    <footer>
      {% if project == "amiri" %}
        {% assign version = config.version %}
      {% else %}
        {% assign version = "v" | append: config.version %}
      {% endif %}
      <p class="downloads"><a href="{{ site.github.owner_url }}/{{ project }}/releases/download/{{ version }}/{{ config.name }}-{{ config.version }}.zip">{{ messages.download }}</a></p>
      {% if config.app %}
      <p class="downloads"><a href="./app">{{ messages.try }}</a></p>
      {% endif %}
      <p>{{ messages.github-long }} <br/><a href="{{ site.github.owner_url }}/{{ project }}"><code>{{ site.github.hostname }}/{{ site.github.owner_name }}/{{ project }}</code></a></p>
    </footer>
  </body>
</html>
