{% assign project = page.dir | remove_first: "/" | remove_last: "/" | split: "/" | first %}
{% assign messages = site.data.messages[page.language] %}
{% assign config = site.data.config[project] %}
{% if page.language == "ar" %}
  {% assign homepage = "/" %}
  {% assign artwork = "./artwork" %}
{% else %}
  {% assign homepage = "/english" %}
  {% assign artwork = "./artwork/english" %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ page.language }}" dir="{{ page.direction | default: rtl }}">
  <head>
    {% include analytics.html %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/images/{{ project }}/favicon.svg">

    <title>{{ page.title | default: config.title }} | {{ page.subtitle | default: config.subtitle }}</title>
    <meta property="og:locale" content="{{ page.language }}">
    <meta        name="description" content="{{ messages[project].description | strip_html }}">
    <meta property="og:description" content="{{ messages[project].description | strip_html }}">
    <link      rel="canonical" href="{{ site.url }}/{{ page.url }}">
    <meta property="og:url" content="{{ site.url }}/{{ page.url }}">
    <meta property="og:site_name" content="{{ config.title }}">
    <meta property="og:image" content="/assets/images/{{ project }}/card.png">

    <link rel="stylesheet" href="{{ "/assets/css/" | append: project | append: ".css?v=" | append: site.github.build_revision }}">
  </head>
  <body>
    <header>
      <p id="logo"><a href="{{ homepage }}">أ</a></p>
      <h1 id="foundry"><a href="{{ homepage }}">{{ messages.foundry }}</a></h1>
      <p class="lang-switcher-side">
      {% include language-switcher.html %}
      </p>
      <p>{{ messages.description }}</p>
      <h2>{{ messages.contact }}</h2>
      <p>{{ messages.contact-detail }} <a href="mailto:info@aliftype.com"><code>info@aliftype.com</code></a></p>
      <p>
        <a href="https://www.facebook.com/AlifTypeFoundry">{{ messages.facebook }}</a><br/>
        <a href="https://www.instagram.com/khaledhosny.type">{{ messages.instagram }}</a><br/>
        <a href="https://fonts.google.com/?subset=arabic&query=Khaled+Hosny">{{ messages.google-fonts }}</a><br/>
      </p>
      <p id="sitedesigner"><a href="https://abdomohamed.com">{{ messages.sitedesigner }}</a></p>
    </header>

    <p class="lang-switcher-top">
    {% include language-switcher.html %}
    </p>
    <h1 dir="rtl" id="title">{{ config.title }}{{ config.title-separator }}{{ config.subtitle }}</h1>
    <section>
      {% if page.subtitle %}
      <h1>{{ page.title | default: config.title }} — {{ page.subtitle }}</h1>
      {% endif %}
      {{ content }}
    </section>

    <footer>
      <p class="downloads"><a href="{{ site.github.owner_url }}/{{ project }}/releases/download/v{{ config.version }}/{{ config.name }}-{{ config.version }}.zip">{{ messages.download }}</a></p>
      {% if config.artwork %}
      <p class="downloads"><a href="{{ artwork }}">{{ messages.artwork }}</a></p>
      {% endif %}
      {% if config.app %}
      <p class="downloads"><a href="./app">{{ messages.app }}</a></p>
      {% endif %}
      <p>{{ messages.github-long }} <br/><a href="{{ site.github.owner_url }}/{{ project }}"><code>{{ site.github.hostname }}/{{ site.github.owner_name }}/{{ project }}</code></a></p>
    </footer>
  </body>
</html>
